ErrorDocument 400 error.php
ErrorDocument 401 error.php
ErrorDocument 402 error.php
ErrorDocument 403 error.php
ErrorDocument 404 error.php

ErrorDocument 405 error.php
ErrorDocument 408 error.php
ErrorDocument 410 error.php
ErrorDocument 414 error.php


<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]

    RedirectMatch 404 inc(/|$)
</IfModule>



# Use UTF-8 encoding for anything served as `text/html` or `text/plain`.
AddDefaultCharset utf-8


<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>